.container{
    display: flex;
    justify-content: center;
    color: #F0F0F0;
}
.container a:link{
    text-decoration: none;
    color: #F0F0F0;
}
.link-grp{
    padding: 30px;
}
.m-r-10
{
    margin-right: 10px;
}