<div class="container">
    <div class="link-grp">
    <a class="m-r-10 clr-white" href="https://www.intuit.com/">INTUIT</a>
    <a class="m-r-10 clr-white" href="https://turbotax.intuit.com/">turbotax</a>
    <a class="m-r-10 clr-white" href="https://www.creditkarma.com/">creditKarma</a>
    <a class="m-r-10 clr-white" href="https://mint.intuit.com/">mint</a>
    <a class="m-r-10 clr-white" href="https://quickbooks.intuit.com/">quickbooks</a>
    <a class="m-r-10 clr-white" href="https://mailchimp.com/">mailcips</a>
    </div>
</div>