<form [formGroup]="myForm">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="firstName"/>
    <div *ngIf="myForm.get('firstName').invalid && (myForm.get('firstName').touched || myForm.get('firstName').dirty)">
      <div *ngIf="myForm.get('firstName').errors?.required" class="error-message">
        required
      </div>
    </div>
  </div>
  <div>
    <label for="lastName">LastName:</label>
    <input id="lastName" formControlName="lastName" type="text"/>
    <div *ngIf="myForm.get('lastName').invalid && (myForm.get('lastName').dirty || myForm.get('lastName').touched)">
      <div *ngIf="myForm.get('lastName').errors?required">
        this field is required so please fill this 
      </div>
    </div>
  </div>
  <div>
    <label for="address">Address</label>
    <input id="address" type="text" formControlName="address"/>
    <div *ngIf="myForm.get('address').invalid && (myForm.get('address').touched || myForm.get('address').dirty)">
      <div *ngIf="myForm.get('address').errors?required">
        address is required
      </div>
    </div>
  </div>
</form>