<form [formGroup]="myForm">
  <div class="container">
  <div class="field">
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="firstName"/>
    <div *ngIf="myForm.get('firstName').invalid && (myForm.get('firstName').touched || myForm.get('firstName').dirty)">
      <div *ngIf="myForm.get('firstName').errors?.required" class="error-message">
         name is required field please fill this
      </div>
      <div *ngIf="myForm.get('firstName').errors?.minlength" class="error-message">
        name characters should greater than 6

      </div>
      <div *ngIf="myForm.get('firstName').errors?.maxlength" class="error-message">
        name can't be more than 12 charactres

      </div>
    </div>
  </div>
  <div class="field">
    <label for="last-Name">LastName</label>
    <input id="last-Name" type="text" formControlName="lastName"/>
    <div *ngIf="myForm.get('lastName').invalid && (myForm.get('lastName').dirty || myForm.get('lastName').touched)">
      <div *ngIf="myForm.get('lastName').errors?.required" class="error-message">
        this field is required so please fill this 
      </div>
      <div *ngIf="myForm.get('lastName').errors?.minlength" class="error-message">
        min length is 7 please fill more characters
      </div>
      <div *ngIf="myForm.get('lastName').errors?.maxlength" class="error-message">
        max length can't be more than 15

      </div>
    </div>
  </div>
  <div class="field">
    <label for="address1">Address</label>
    <input id="address1" type="text"  formControlName="address"/>
    <div *ngIf="myForm.get('address').invalid && (myForm.get('address').touched || myForm.get('address').dirty)">
      <div *ngIf="myForm.get('address').errors?.required" class="error-message">
        address is required
      </div>
      <div *ngIf="myForm.get('address').errors?.minlength" class="error-message">
        address should be more than 12 letters please fill it
      </div>
      <div *ngIf="myForm.get('address').errors?.maxlength" class="error-message">
        address can't be more than 20 characters

      </div>
    </div>
  </div>
  <div class="field">
    <label for="mobileNum" >Mobile Number</label>
    <input type="number" id="number" formControlName="mobileNum"/>
    <div *ngIf="myForm.get('mobileNum').invalid && (myForm.get('mobileNum').touched || myForm.get('mobileNum').dirty)">
      <div *ngIf="myForm.get('mobileNum').errors?.required" class="error-message">
        mobile number is required field please fill it
      </div>
      <div *ngIf="myForm.get('mobileNum').errors?.min" class="error-message">
        please fill 10 digits for valid mobile number

      </div>
      <div *ngIf="myForm.get('mobileNum').errors?.max" class="error-message">
        mobile number can't be more than 10 digits

      </div>
     
    </div>
  </div>
  <div class="field">
    <label for="companyName">Company Name :</label>
    <input id="companyName" type="text" formControlName="companyName"/>
    <div *ngIf="myForm.get('companyName').invalid && (myForm.get('companyName').touched || myForm.get('companyName').dirty)">
      <div *ngIf="myForm.get('companyName').errors?.required" class="error-message">
        Company Name is required so please fill the name of company
      </div>
      <div *ngIf="myForm.get('companyName').errors?.minlength" class="error-message">
        please fill more than 12 characters
      </div>
      <div *ngIf="myForm.get('companyName').errors?.maxlength" class="error-message">
        max length can't be more than 20 characters
      </div>
    </div>
  </div>
  <div class="field">
    <label for="currentSalary">Current Salary </label>
    <input id="currentSalary" type="number" formControlName="currentSalary"/>
    <div *ngIf="myForm.get('currentSalary').invalid && (myForm.get('currentSalary').touched || myForm.get('currentSalary').dirty)">
      <div *ngIf="myForm.get('currentSalary').errors?.required" class="error-message">
        current salary is mandatory field
      </div>
    </div>
  </div>
  
  </div>
  
</form>